@import"Reset.css";
@import"Grid.css";

@font-face {
    font-family: "Xperia";
    src: url("Fonts/Xperia.eot"); /* IE */
    src: url("Fonts/Xperia.ttf");
}

body {
    font: 12px/19px Arial, Helvetica, sans-serif;
    color: #848383;
    position: relative;
    min-width: 1036px;
    background: #000;
}

html, body {
    min-height: 100%;
}

html {
    min-width: 100%;
}
/* Global Structure---------------------------------------- */
.main {
    margin: 0 auto;
    min-width: 100%;
    position: relative;
}

.container_12 {
    position: relative;
}

/*----- txt,links,lines,titles -----*/
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    position: relative;
    line-height: 1em;
    font-weight: normal;
}

h1 {
    font-family: 'Xperia', sans-serif;
    font-size: 32px;
    line-height: 34px;
}

h2 {
    font-family: 'Xperia', sans-serif;
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 28px;
}

h3 {
    font-family: 'Xperia', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 36px;
}

h4 {
    font-family: 'Xperia', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #e7b000;
    padding: 14px 0 10px;
}

    h4 a {
        color: #e7b000;
    }


h5 {
    font-size: 20px;
    line-height: 22px;
    color: #7c7c7c;
    padding-bottom: 30px;
}

h6 {
    font-size: 16px;
    line-height: 18px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

    a:focus {
        outline: none;
    }

    a:hover {
        text-decoration: underline;
    }

.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.extra-wrap {
    overflow: hidden;
    display: block;
}

p {
    color: #fff;
    padding-bottom: 19px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.overflow {
    overflow: hidden;
}

.relative {
    position: relative;
}

.img-indent {
    float: left;
    margin: 8px 20px 0 0;
}

.block {
    position: relative;
    z-index: 100;
}

.extra-block,
.extra-block1 {
    min-height: 100%;
    margin: 0 auto -38px;
    position: relative;
}

.extra-block {
    background: url(../Images/tail-bg-cont.png) repeat-x 0 bottom;
}

.extra-block1 {
    margin: 0 auto -5%;
}

/**********row-top*************/
.row-top {
    overflow: hidden;
    background: url(../Images/tail-bg-top.png);
    padding: 10px 20px 10px 0px;
    position: relative;
    z-index: 10;
}

.list-soc {
    float: right;
    margin-right: 6px;
}

    .list-soc li {
        float: left;
        margin-left: 8px;
    }

        .list-soc li a {
            color: #fff;
            text-decoration: none;
        }

            .list-soc li a:hover {
                text-decoration: underline;
            }

/**********bgstretcher*************/
.bgstretcher {
    background: black;
    overflow: hidden;
    width: 100%;
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
}

    .bgstretcher UL,
    .bgstretcher UL LI {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

        .bgstretcher UL,
        .bgstretcher UL LI {
            margin: 0;
            padding: 0;
            list-style: none;
        }

.bgstretcher-area, .bgstretcher-page {
    height: 100%;
}

.nav-buttons {
    bottom: 0;
    left: 50%;
    margin-left: -97.5px;
    padding-bottom: 103px;
    position: fixed;
}

#nav {
    overflow: hidden;
    display: inline-block;
}

    #nav li {
        float: left;
        overflow: hidden;
        margin: 0 10px;
    }

        #nav li a {
            display: block;
            background: url(../Images/pags.png) no-repeat 0 0;
            width: 19px;
            height: 19px;
            line-height: 0;
            font-size: 0;
        }

            #nav li a:hover, #nav li.showPage a {
                background-position: 0 bottom;
            }

/*********************************header*************************************/
header {
    position: relative;
    z-index: 20;
}

    header h1 {
        z-index: 10;
        display: block;
        float: left;
        padding: 0;
    }

.row-nav {
    background: url(../Images/tail-bg-nav.png);
}

nav {
    padding-right: 20px;
    float: right;
}

.logo {
    padding: 10px 0px 0px 20px;
}

.menu {
    font-size: 0;
    line-height: 0;
    padding: 0;
    z-index: 99;
    position: relative;
}

    .menu > li {
        position: relative;
        float: left;
        margin-left: 11px;
        background: url(../Images/point.png);
    }

    .menu li a {
        font-family: 'Xperia', sans-serif;
        font-size: 15px;
        color: #b3adad;
        line-height: 20px;
        display: block;
        position: relative;
        text-decoration: none !important;
        padding: 28px 12px 28px;
    }

    .menu li.current,
    .menu li:hover {
        background: #e7b000;
    }

        .menu li.current a,
        .menu li:hover a {
            color: #fff;
        }

/********************** Content style ************************/
section#content {
    position: relative;
    z-index: 10;
    padding: 60px 0;
}

.border-vert {
    background: url(../Images/border-vert.png) repeat-y 477px 0;
}

.img-rounded img {
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}

.img-rounded1 img {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.img-indent {
    margin: 39px 0 35px;
}

.row-1 {
    background: url(../Images/tail-bg-top.png);
    padding: 21px 0 23px;
}

.main-block {
    width: 1036px;
    margin: 0 auto;
    background: url(../Images/tail-cont.png);
    padding: 38px 0;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    min-height: 565px;
}

/********************** links  & buttons ************************/
.link-1 {
    display: inline-block;
    color: #e7b000;
}

.button {
    width: 80px;
    margin: 2px 0px 0px 2px;
    padding: 6px 12px 7px;
    background: #e7b000;
    font-family: 'Xperia', sans-serif;
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 1.2em;
    display: inline-block;
}

    .button:hover {
        background: #000;
        text-decoration: none;
    }

/*  Lists */
.listTitle {
    color: #fff;
    font-weight: bold;
}

.list {
    width: auto;
    padding: 0 0 27px;
    float: left;
}

    .list li {
        margin: 0px 10px 1px 15px;
        list-style-type: square;
        color: #e7b000;
    }

    .list span {
        color: #fff;
    }

/*----- es-carousel -----*/
.es-carousel-wrapper {
    position: relative;
    z-index: 99;
}

.es-carousel {
    overflow: hidden;
}

    .es-carousel ul {
        display: none;
        overflow: hidden;
    }

        .es-carousel ul li {
            height: 100%;
            float: left;
            display: block;
            width: 300px;
        }

            .es-carousel ul li figure {
                margin-bottom: 26px;
            }

.es-nav {
    right: 50%;
    margin-right: -33px;
    bottom: -30px;
    position: absolute;
}

    .es-nav span {
        display: block;
        line-height: 0;
        font-size: 0;
        width: 32px;
        height: 33px;
        text-indent: -5000px;
        z-index: 99;
        cursor: pointer;
        display: inline-block !important;
    }

        .es-nav span.es-nav-next {
            background: url(../Images/next.png) no-repeat 50% 50% #e7b000;
            border-radius: 0 6px 6px 0;
            -moz-border-radius: 0 6px 6px 0;
            -webkit-border-radius: 0 6px 6px 0;
            border-left: 1px solid #000;
        }

        .es-nav span.es-nav-prev {
            background: url(../Images/prev.png) no-repeat 50% 50% #e7b000;
            border-radius: 6px 0 0 6px;
            -moz-border-radius: 6px 0 0 6px;
            -webkit-border-radius: 6px 0 0 6px;
            border-right: 1px solid #000;
        }

        .es-nav span:hover {
            background-color: #000;
        }

/* Lightbox image */
.magnifier {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .magnifier img {
        position: relative;
        z-index: 2;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .magnifier span {
        top: 15px;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background: url(../Images/fancybox/magnify.png) center center no-repeat;
        display: block;
        position: absolute;
        z-index: 1;
    }


/*----- map -----*/
.map {
    margin: 0 0 31px;
}

    .map iframe {
        width: 100%;
        height: 259px;
        overflow: hidden;
    }

/*----- address -----*/
.mail-1 {
    color: #fff;
    display: inline-block;
    text-decoration: underline;
}

    .mail-1:hover {
        text-decoration: none;
    }

dl.address dt {
    padding-bottom: 18px;
}

    dl.address dt span {
        display: block;
    }

dl.address dt, dl.address dd {
    font-size: 14px;
    line-height: 18px;
    color: #848383;
}

    dl.address dd span {
        display: inline-block;
        width: 100px;
    }

    dl.address dd a {
        color: #848383;
        text-decoration: none;
    }

        dl.address dd a:hover {
            text-decoration: underline;
        }

/***** contact form *****/
#contact-form {
    position: relative;
    vertical-align: top;
    z-index: 1;
    margin: -2px 0 0;
}

    #contact-form div {
        overflow: hidden;
    }

    #contact-form fieldset {
        border: none;
        padding: 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 10;
    }

    #contact-form label {
        display: block;
        min-height: 45px;
        position: relative;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
    }

    #contact-form .message {
        width: 100%;
        min-height: 303px;
        display: block !important;
    }

    #contact-form input,
    #contact-form textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        border: 1px solid #49413d;
        background: url(../Images/tail-input.png);
        padding: 5px 15px;
        margin: 0;
        font-size: 16px;
        line-height: 20px !important;
        color: #b0adac;
        outline: none;
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        float: left;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #contact-form input {
        height: 30px;
    }

        #contact-form input:focus,
        #contact-form textarea:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

    #contact-form .area .error {
        float: none;
    }

    #contact-form textarea {
        width: 100%;
        height: 273px;
        resize: none;
        overflow: auto;
    }

    #contact-form .success {
        width: 100%;
        top: 0;
        left: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #848383;
        font-size: 14px;
        line-height: 22px;
        position: absolute;
        z-index: 20;
    }

        #contact-form .success span {
            display: block;
            text-align: left;
        }

        #contact-form .success strong {
            font-weight: normal;
            display: block;
            color: #807c79;
        }

    #contact-form .error {
        font-size: 11px;
        color: #e7b000;
    }

.buttons-wrapper {
    position: relative;
}

    .buttons-wrapper input {
        margin-right: 3px;
    }

/******************** Footer ******************/
footer {
    bottom: 0;
    min-width: 100%;
    max-height: 65px;
    padding: 9px 0;
    background-color: #000;
    opacity: 0.75;
    position: fixed;
}

.footer {
    color: #fcf9f9;
    font-size: 12px;
    line-height: 20px;
}

    .footer span {
        color: #747373;
        margin: 0 4px;
    }

    .footer strong {
        color: #747373;
        font-weight: normal;
    }

        .footer strong a {
            color: #747373;
        }

    .footer a {
        font-size: 12px;
        color: #fcf9f9;
        display: inline-block;
    }